.ant-message {
  z-index: 1052
}

.bd-header {
  display: flex;
  justify-content: flex-start;
  min-height: 3rem;
  height: 3rem;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1051;
}

.bd-menu {
  line-height: 3rem;
}

.bd-sidebar {
  top: 3rem;
  background: #fff;
  position: sticky;
  z-index: 1051;
  height: calc(100vh - 3rem);
  min-height: calc(100vh - 3rem);
  overflow-y: auto;
  overflow-x: hidden;
}

.logo {
  width: 16rem;
  padding-left: 48px;
  color: #fff;
  line-height: 3rem;
  cursor: pointer;
}

.bd-title {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.bd-title-line {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-box {
  background-color: #fff;
  margin-top: 1rem;
  border-left: 1px;
  border-right: 1px;
  border-top: 1px;
  border-bottom: 0;
  border-style: solid;
  border-color: #dee2e6;
  padding: .5rem;
}

.pull-right {
  margin-left: .5rem;
  float: right;
}

.search-form {
  background-color: #fff;
  padding: .5rem;
  border-left: 1px;
  border-right: 1px;
  border-top: 1px;
  border-bottom: 0;
  border-style: solid;
  border-color: #dee2e6;
}

.search-form .form-content {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.search-form .search-label {
  text-align: center;
  margin: 0 0.5rem;
  line-height: 2rem;
  font-size: 0.8rem;
}

.search-form .search-input {
  width: 8rem;
  height: 2rem;
  font-size: 0.8rem;
}

.search-form .search-input[type="date"] {
  width: 9rem;
  height: 2rem;
}

.search-form .search-value {
  width: 8rem;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.search-form .search-type {
  width: 8rem;
  margin-right: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.search-form .search-type .ant-select-selection {
  border-radius: .25rem 0 0 .25rem !important;
}

.search-form .search-btn {
  border-radius: 0 .25rem .25rem 0;
  padding: 0 0.5rem;
  font-size: 0.8rem;
}

.ant-table-body .ant-table-thead th {
  background: #fff;
  font-weight: bold;
  border-radius: 0 !important;
}

.ant-table table {
  border-radius: 0;
}

.ant-input-number {
  width: 100%;
}

.ant-btn-sm {
  font-size: 0.6rem;
}
