<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.delcache.website.system.mapper.AdminMapper">
    <sql id="condition">
        <where>
            <if test="adminId!=null and adminId!=''">
                admin_id=#{adminId}
            </if>
            <if test="status!=null and status!=''">
                and status=#{status}
            </if>
            <if test="adminId!=null and adminId!=''">
                and admin_id=#{adminId}
            </if>
            <if test="username!=null and username!=''">
                and username=#{username}
            </if>
            <if test="username_like!=null and username_like!=''">
                and username like "%"#{username_like}"%"
            </if>
            <if test="realname_like!=null and realname_like!=''">
                and realname like "%"#{realname_like}"%"
            </if>
            <if test="realname!=null and realname!=''">
                and realname=#{realname}
            </if>
            <if test="token!=null and token!=''">
                and token=#{token}
            </if>
            <if test="condition!=null and condition!=''">
                and ${condition}
            </if>
        </where>
    </sql>
    <select id="selectList" parameterType="Map" resultType="com.delcache.website.common.domain.Admin">
        select * from tbl_admin
        <include refid="condition"/>
        <if test="orderBy!=null and orderBy!=''">
            order by ${orderBy}
        </if>
        <if test="limit!=null and limit!=''">
            limit ${limit}
        </if>
    </select>

    <select id="count" parameterType="Map" resultType="Integer">
        select count(*) from tbl_admin
        <include refid="condition"/>
    </select>

    <select id="selectOne" parameterType="Map" resultType="com.delcache.website.common.domain.Admin">
        select * from tbl_admin
        <include refid="condition"/>
        limit 1
    </select>
    <insert id="insert" parameterType="com.delcache.website.common.domain.Admin" keyProperty="adminId"
            useGeneratedKeys="true">
        insert into tbl_admin(username,password,realname,mobile,email,avatar,salt,token,create_time,update_time)
         value (#{username}, #{password}, #{realname}, #{mobile}, #{email}, #{avatar}, #{salt}, #{token}, #{createTime}, #{updateTime})
    </insert>
    <update id="update" parameterType="com.delcache.website.common.domain.Admin">
        update tbl_admin
        <trim prefix="set" suffixOverrides=",">
            <if test="username!=null">username=#{username},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="realname!=null">realname=#{realname},</if>
            <if test="mobile!=null">mobile=#{mobile},</if>
            <if test="email!=null">email=#{email},</if>
            <if test="avatar!=null">avatar=#{avatar},</if>
            <if test="salt!=null">salt=#{salt},</if>
            <if test="identity!=null">`identity`=#{identity},</if>
            <if test="token!=null">`token`=#{token},</if>
            <if test="lastLoginTime!=null">last_login_time=#{lastLoginTime},</if>
            <if test="passwdModifyTime!=null">passwd_modify_time=#{passwdModifyTime},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
            <if test="status!=null">status=#{status},</if>
        </trim>
        where admin_id=#{adminId}
    </update>
    <select id="getAdminList" parameterType="Map" resultType="com.delcache.website.common.domain.Dict">
        select realname as title,admin_id as `value` from tbl_admin
        <include refid="condition"/>
    </select>
</mapper>